@font-face {
    font-family: 'ChunkFiveEx';
    src: url('../fonts/ChunkFiveEx.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/studio02.jpg);
    font-family: 'ChunkFiveEx';
    background-position: bottom;
    font-weight: 400;
    background-size: cover;
}

.site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "header header"
        "main main";
    height: 100vh;
}

.menu {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* background-color: rgb(99, 1, 0); */
    background-image: url(../images/menubg.png);
    width: 80%;
    padding: 0 10%;
}

.menu::after

.menu span {
    padding-left: 30px;
    margin-top: -12px;
}

.menu>a {
    display: flex;
    flex-direction: column;
    padding: 1em 15px 0 15px;
    font-size: 30px;
    color: white;
    background-image: url('../images/menu_bg.svg');
    background-repeat: no-repeat;
    background-position: 15px 10px;
    text-decoration: none;
}

.menu>a.active, .menu>a:hover {
    background-image: url('../images/menu_bg_active.svg');
}

.menu>a.logo {
    background-image: none;
    text-align: right;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    margin-right: -175px;
}

img#logo {
    width: calc(174px * 2);
    height: calc(128px * 2);
    z-index: 1;
    margin-top: -45px;
    margin-left: -35px;
}

.main-content {
    grid-area: main;
    /* background-color: rgba(255,255,255,0.75); */
    background-image: url(../images/contentbg.png);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 25px 25px 9px rgba(0, 0, 0, 0.6);
}

article {
    padding: 0 20px;
    font-size: 1.2em;
    /* height: 20%; */
}

article > p {
    padding-left: 20px;
}

ul {
    padding-left: 100px;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 46%; */
}

.slider > .container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slider > .container > .contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fade {
    width: 100%;
    position: absolute !important;
    top: 0;
}

.fadecontainer {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.sliderglow {
    position: relative;
    z-index: 1;
}

.glow {
    position: relative;
    width: 100%;
}

/* .fade::before {
    content: '';
    background-image: url('../images/sliderglow.png');
    z-index: -1;
    width: 100%;
    height: 100%;
} */

.fade > .slide, .slick-slide {
    width: 50%;
}

.fade > .slide > img, .slick-slide > img {
    width: 100%;
}

.slidenavleft {
    background-image: url('../images/arrow_previous.png');
    width: 5%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.slidenavright {
    background-image: url('../images/arrow_next.png');
    width: 5%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}

.slidenavleft:hover, .slidenavright:hover, .kep.kov img:hover {
    opacity: 0.8;
    cursor: pointer;
    /* margin-top: 2px; */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    flex: 1;
}

footer > .container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > .container > .contents {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > .container > .contents > .ikonok {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.75);
    box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.3)
}

.telefon, .facebook, .email, .instagram, .terkep {
    padding: 20px;
}

.ikon {
    display: flex;
    justify-content: center;
}

.ikon > img {
    max-height: 30px;
    width: auto;
}

.telefon > .szoveg, .facebook > .szoveg, .email > .szoveg, .instagram > .szoveg, .terkep > .szoveg {
    text-align: center;
}

/* SZOLGALTATASOK */
/* SZOLGALTATASOK */
/* SZOLGALTATASOK */

.szolgaltatasok-container {
    width: 80%;
    margin: 40px auto;
}

.szolgaltatasok {
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.5)
}

.szolgaltatasok-container h1 {
    margin: 10px 0;
    font-family: sans-serif;
}

.szolg-kepek {
    display: flex;
}

.szolg-kepek .kep {
    padding: 5px;
}

.szolg-kepek .kep img {
    width: 100%;
}

div.szolg-separator {
    margin: 30px auto;
    width: 95%;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(99, 1, 0);
}